@model Construcao.Models.Categoria

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar Categoria</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cat_Nome" class="control-label"></label>
                <input asp-for="Cat_Nome" class="form-control" />
                <span asp-validation-for="Cat_Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cat_Desc" class="control-label"></label>
                <input asp-for="Cat_Desc" class="form-control" />
                <span asp-validation-for="Cat_Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prioridade" class="control-label"></label>
                <input asp-for="Prioridade" class="form-control" />
                <span asp-validation-for="Prioridade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Responsavel" class="control-label"></label>
                <input asp-for="Responsavel" class="form-control" />
                <span asp-validation-for="Responsavel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
